<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
       display: flex;
            justify-content: center; /* Center horizontally */

        padding:20px;
        }
        p{
        margin:auto;
        width: 80vw;
        text-align:center;
        }
    </style>
</head>
<body>
<h1> HomePage</h1>
<p> Benvenuti !!</p>
</body>
</html>